USE [master]
GO
/****** Object:  Database [InventoryDB]    Script Date: 5/9/2026 10:31:12 AM ******/
CREATE DATABASE [InventoryDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'InventoryDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\InventoryDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'InventoryDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\InventoryDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [InventoryDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [InventoryDB]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 5/9/2026 10:31:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [varchar](100) NOT NULL,
	[Description] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 5/9/2026 10:31:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [varchar](150) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[SupplierID] [int] NOT NULL,
	[UnitPrice] [decimal](10, 2) NOT NULL,
	[ReorderLevel] [int] NOT NULL,
	[LeadTimeDays] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Warehouse]    Script Date: 5/9/2026 10:31:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Warehouse](
	[WarehouseID] [int] IDENTITY(1,1) NOT NULL,
	[WarehouseName] [varchar](100) NOT NULL,
	[Location] [varchar](100) NOT NULL,
	[Capacity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[WarehouseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventoryStock]    Script Date: 5/9/2026 10:31:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryStock](
	[StockID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[WarehouseID] [int] NOT NULL,
	[QuantityOnHand] [int] NOT NULL,
	[LastUpdated] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StockID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_StockSummary]    Script Date: 5/9/2026 10:31:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
--  VIEWS — Data Abstraction
-- ============================================================

-- VIEW 1: Stock summary with reorder status
CREATE VIEW [dbo].[vw_StockSummary] AS
SELECT
    p.ProductID, p.ProductName, c.CategoryName,
    w.WarehouseName, w.Location,
    s.QuantityOnHand, p.ReorderLevel,
    CASE WHEN s.QuantityOnHand <= p.ReorderLevel
         THEN 'Reorder Required' ELSE 'Sufficient' END AS StockStatus,
    s.LastUpdated
FROM InventoryStock s
JOIN Product   p ON s.ProductID   = p.ProductID
JOIN Category  c ON p.CategoryID  = c.CategoryID
JOIN Warehouse w ON s.WarehouseID = w.WarehouseID;
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 5/9/2026 10:31:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[DetailID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[SalePrice] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_ProductRevenue]    Script Date: 5/9/2026 10:31:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- VIEW 2: Product revenue summary
CREATE VIEW [dbo].[vw_ProductRevenue] AS
SELECT
    p.ProductID, p.ProductName, c.CategoryName,
    COUNT(od.DetailID)              AS TotalOrderLines,
    SUM(od.Quantity)                AS TotalUnitsSold,
    SUM(od.Quantity * od.SalePrice) AS TotalRevenue,
    AVG(od.SalePrice)               AS AvgSellingPrice
FROM OrderDetail od
JOIN Product  p ON od.ProductID = p.ProductID
JOIN Category c ON p.CategoryID = c.CategoryID
GROUP BY p.ProductID, p.ProductName, c.CategoryName;
GO
/****** Object:  Table [dbo].[SalesOrder]    Script Date: 5/9/2026 10:31:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesOrder](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerName] [varchar](100) NOT NULL,
	[OrderDate] [date] NOT NULL,
	[Status] [varchar](20) NOT NULL,
	[TotalAmount] [decimal](12, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 5/9/2026 10:31:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier](
	[SupplierID] [int] IDENTITY(1,1) NOT NULL,
	[SupplierName] [varchar](100) NOT NULL,
	[ContactEmail] [varchar](100) NOT NULL,
	[Phone] [varchar](20) NULL,
	[City] [varchar](50) NULL,
	[Rating] [decimal](3, 1) NULL,
PRIMARY KEY CLUSTERED 
(
	[SupplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([CategoryID], [CategoryName], [Description]) VALUES (1, N'Electronics', N'Electronic gadgets and components')
INSERT [dbo].[Category] ([CategoryID], [CategoryName], [Description]) VALUES (2, N'Grocery', N'Food and daily use items')
INSERT [dbo].[Category] ([CategoryID], [CategoryName], [Description]) VALUES (3, N'Apparel', N'Clothing and fashion items')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[InventoryStock] ON 

INSERT [dbo].[InventoryStock] ([StockID], [ProductID], [WarehouseID], [QuantityOnHand], [LastUpdated]) VALUES (1, 1, 1, 25, CAST(N'2025-04-01' AS Date))
INSERT [dbo].[InventoryStock] ([StockID], [ProductID], [WarehouseID], [QuantityOnHand], [LastUpdated]) VALUES (2, 2, 1, 120, CAST(N'2025-04-01' AS Date))
INSERT [dbo].[InventoryStock] ([StockID], [ProductID], [WarehouseID], [QuantityOnHand], [LastUpdated]) VALUES (3, 3, 1, 200, CAST(N'2025-04-01' AS Date))
SET IDENTITY_INSERT [dbo].[InventoryStock] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetail] ON 

INSERT [dbo].[OrderDetail] ([DetailID], [OrderID], [ProductID], [Quantity], [SalePrice]) VALUES (1, 1, 1, 1, CAST(85000.00 AS Decimal(10, 2)))
INSERT [dbo].[OrderDetail] ([DetailID], [OrderID], [ProductID], [Quantity], [SalePrice]) VALUES (2, 1, 2, 3, CAST(2500.00 AS Decimal(10, 2)))
INSERT [dbo].[OrderDetail] ([DetailID], [OrderID], [ProductID], [Quantity], [SalePrice]) VALUES (3, 1, 3, 2, CAST(1800.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[OrderDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([ProductID], [ProductName], [CategoryID], [SupplierID], [UnitPrice], [ReorderLevel], [LeadTimeDays]) VALUES (1, N'Samsung 4K TV 55"', 1, 1, CAST(85000.00 AS Decimal(10, 2)), 10, 14)
INSERT [dbo].[Product] ([ProductID], [ProductName], [CategoryID], [SupplierID], [UnitPrice], [ReorderLevel], [LeadTimeDays]) VALUES (2, N'Wireless Keyboard', 1, 1, CAST(2500.00 AS Decimal(10, 2)), 30, 7)
INSERT [dbo].[Product] ([ProductID], [ProductName], [CategoryID], [SupplierID], [UnitPrice], [ReorderLevel], [LeadTimeDays]) VALUES (3, N'USB-C Hub 7-Port', 1, 1, CAST(1800.00 AS Decimal(10, 2)), 40, 5)
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[SalesOrder] ON 

INSERT [dbo].[SalesOrder] ([OrderID], [CustomerName], [OrderDate], [Status], [TotalAmount]) VALUES (1, N'Ahmed Traders', CAST(N'2025-01-10' AS Date), N'Shipped', CAST(96800.00 AS Decimal(12, 2)))
INSERT [dbo].[SalesOrder] ([OrderID], [CustomerName], [OrderDate], [Status], [TotalAmount]) VALUES (2, N'Bilal Enterprises', CAST(N'2025-01-18' AS Date), N'Shipped', CAST(18500.00 AS Decimal(12, 2)))
INSERT [dbo].[SalesOrder] ([OrderID], [CustomerName], [OrderDate], [Status], [TotalAmount]) VALUES (3, N'Chaudhry Store', CAST(N'2025-02-05' AS Date), N'Shipped', CAST(42000.00 AS Decimal(12, 2)))
SET IDENTITY_INSERT [dbo].[SalesOrder] OFF
GO
SET IDENTITY_INSERT [dbo].[Supplier] ON 

INSERT [dbo].[Supplier] ([SupplierID], [SupplierName], [ContactEmail], [Phone], [City], [Rating]) VALUES (1, N'TechMart Pvt Ltd', N'techmart@gmail.com', N'0300-1234567', N'Lahore', CAST(4.5 AS Decimal(3, 1)))
INSERT [dbo].[Supplier] ([SupplierID], [SupplierName], [ContactEmail], [Phone], [City], [Rating]) VALUES (2, N'GreenGrocer Co.', N'green@grocery.pk', N'0301-2345678', N'Karachi', CAST(4.2 AS Decimal(3, 1)))
INSERT [dbo].[Supplier] ([SupplierID], [SupplierName], [ContactEmail], [Phone], [City], [Rating]) VALUES (3, N'FashionHub', N'info@fashionhub.pk', N'0302-3456789', N'Faisalabad', CAST(4.8 AS Decimal(3, 1)))
SET IDENTITY_INSERT [dbo].[Supplier] OFF
GO
SET IDENTITY_INSERT [dbo].[Warehouse] ON 

INSERT [dbo].[Warehouse] ([WarehouseID], [WarehouseName], [Location], [Capacity]) VALUES (1, N'Central Warehouse', N'Lahore Industrial Zone', 50000)
INSERT [dbo].[Warehouse] ([WarehouseID], [WarehouseName], [Location], [Capacity]) VALUES (2, N'North Hub', N'Islamabad Logistic Park', 30000)
INSERT [dbo].[Warehouse] ([WarehouseID], [WarehouseName], [Location], [Capacity]) VALUES (3, N'South Depot', N'Karachi Port Area', 40000)
SET IDENTITY_INSERT [dbo].[Warehouse] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Category__8517B2E07E14DD16]    Script Date: 5/9/2026 10:31:12 AM ******/
ALTER TABLE [dbo].[Category] ADD UNIQUE NONCLUSTERED 
(
	[CategoryName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Stock]    Script Date: 5/9/2026 10:31:12 AM ******/
ALTER TABLE [dbo].[InventoryStock] ADD  CONSTRAINT [UQ_Stock] UNIQUE NONCLUSTERED 
(
	[ProductID] ASC,
	[WarehouseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Stock_ProductID]    Script Date: 5/9/2026 10:31:12 AM ******/
CREATE NONCLUSTERED INDEX [IX_Stock_ProductID] ON [dbo].[InventoryStock]
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Detail_OrderID]    Script Date: 5/9/2026 10:31:12 AM ******/
CREATE NONCLUSTERED INDEX [IX_Detail_OrderID] ON [dbo].[OrderDetail]
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Product_Name]    Script Date: 5/9/2026 10:31:12 AM ******/
CREATE NONCLUSTERED INDEX [IX_Product_Name] ON [dbo].[Product]
(
	[ProductName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Order_Date]    Script Date: 5/9/2026 10:31:12 AM ******/
CREATE NONCLUSTERED INDEX [IX_Order_Date] ON [dbo].[SalesOrder]
(
	[OrderDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Supplier__FFA796CDB0AC8168]    Script Date: 5/9/2026 10:31:12 AM ******/
ALTER TABLE [dbo].[Supplier] ADD UNIQUE NONCLUSTERED 
(
	[ContactEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Warehous__180C89D9EE2B96CF]    Script Date: 5/9/2026 10:31:12 AM ******/
ALTER TABLE [dbo].[Warehouse] ADD UNIQUE NONCLUSTERED 
(
	[WarehouseName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[InventoryStock] ADD  DEFAULT ((0)) FOR [QuantityOnHand]
GO
ALTER TABLE [dbo].[InventoryStock] ADD  DEFAULT (CONVERT([date],getdate())) FOR [LastUpdated]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((50)) FOR [ReorderLevel]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((7)) FOR [LeadTimeDays]
GO
ALTER TABLE [dbo].[SalesOrder] ADD  DEFAULT (CONVERT([date],getdate())) FOR [OrderDate]
GO
ALTER TABLE [dbo].[SalesOrder] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Supplier] ADD  DEFAULT ((5.0)) FOR [Rating]
GO
ALTER TABLE [dbo].[InventoryStock]  WITH CHECK ADD  CONSTRAINT [FK_Stock_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[InventoryStock] CHECK CONSTRAINT [FK_Stock_Product]
GO
ALTER TABLE [dbo].[InventoryStock]  WITH CHECK ADD  CONSTRAINT [FK_Stock_Warehouse] FOREIGN KEY([WarehouseID])
REFERENCES [dbo].[Warehouse] ([WarehouseID])
GO
ALTER TABLE [dbo].[InventoryStock] CHECK CONSTRAINT [FK_Stock_Warehouse]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_Detail_Order] FOREIGN KEY([OrderID])
REFERENCES [dbo].[SalesOrder] ([OrderID])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_Detail_Order]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_Detail_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_Detail_Product]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category] ([CategoryID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Category]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Supplier] FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Supplier] ([SupplierID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Supplier]
GO
ALTER TABLE [dbo].[SalesOrder]  WITH CHECK ADD  CONSTRAINT [CK_Order_Status] CHECK  (([Status]='Cancelled' OR [Status]='Shipped' OR [Status]='Confirmed' OR [Status]='Pending'))
GO
ALTER TABLE [dbo].[SalesOrder] CHECK CONSTRAINT [CK_Order_Status]
GO
USE [master]
GO
